.root {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  font-size: 5rem;
  font-family: "Shizuru", sans-serif;

  @media screen and (max-width: 1100px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 650px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.5rem;
  }
}

.goose-container {
  position: relative;
  max-width: 80%;
}

.goose {
  cursor: pointer;
}

.honked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}
